/* Basic CSS for your blog */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2 {
    text-align: center;
    padding: 20px;
    background-color: #277A78; /* Updated color */
    color: white;
    margin: 0;
}

p {
    padding: 15px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

h2 {
    margin-top: 30px;
    font-size: 24px;
    background-color: #277A78; /* Updated color */
}

code {
    font-family: monospace;
    background-color: #ecf0f1;
    padding: 2px 4px;
    border-radius: 3px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

.post {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post a {
    font-size: 18px;
    text-decoration: none;
    color: #277A78; /* Updated color */
}

.post a:hover {
    color: #3498db;
}

.post p {
    font-size: 14px;
    color: #7f8c8d;
}
